[Desktop Entry]
Type=Application
Name=Magic Set Editor 2
exec=MagicSetEditor2
Icon=MagicSetEditor2
Comment=Magic Set Editor, or MSE for short, is a program with which you can design your own cards for popular trading card games.
Categories=Graphics;2DGraphics;
